<div class="bg-black h-screen w-[200px]">

    <nav class="flex flex-col items-center py-2 pt-[50px]">

      <div *ngFor="let item of items" class="relative flex items-center w-full {{item.current?'bg-white':''}} h-12 px-2 py-1 {{item.current?'text-black':'text-white'}} transition duration-150 ease-in-out border-b-2 border-transparent hover:text-gray-500 cursor-pointer {{item.current?'active-item':''}}"
        (click)="navTo(item)"
      >
        <i class="{{item.icon}} mx-5"></i>
        <div>
          {{item.label}}
        </div>
      </div>
    </nav>

  </div>
