<div class="h-screen flex flex-col items-stretch">
  <!-- <header class="border-b p-4 flex justify-between">
    <h1 class="text-3xl font-bold">Users</h1>
    <a href="#" class="text-blue-500 hover:underline">Learn more</a>
  </header> -->
  <div class="flex justify-between p-4">
    <div class="flex">
      <input
        type="text"
        class="shadow appearance-none border rounded w-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Default search"
      />
      <button
        class="ml-4 bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded"
      >
        Q
      </button>
    </div>
    <div class="flex">
      <button
        class="bg-blue-500 cursor-pointer hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
      >
        Add user
      </button>
      <button
        class="bg-red-500 cursor-pointer hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4"
      >
        Delete user
      </button>
      <button
        class="bg-yellow-500 cursor-pointer hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
      >
        Refresh
      </button>
    </div>
  </div>
  <div class="m-5 rounded-lg overflow-hidden ">
    <p-table
      [value]="users"
      responsiveLayout="stack"
      [breakpoint]="'960px'"
      [tableStyle]="{ 'min-width': '50rem' }"
      
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Username</th>
          <th>email</th>
          <th>first name</th>
          <th>last name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-columns="columns">
        <tr>
          <td>
            <span class="p-column-title">Username</span>{{ user.username }}
          </td>
          <td><span class="p-column-title">email</span>{{ user.email }}</td>
          <td>
            <span class="p-column-title">first name</span>{{ user.first_name }}
          </td>
          <td>
            <span class="p-column-title">last name</span>{{ user.last_name }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
