/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;


body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.bg-card {
    background-color: var(--surface-card);
}